@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	font-family: "Figtree", sans-serif, arial;
}
html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: #001524;
	color: #fff;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
}

/*****MENU SECTION*****/
.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color: #E9B824;
}
 
nav {
	float: right;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}

nav a:hover {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: yellow;
}
/*****Main BANNER*****/
.width-50 {
	float: left;
	width: 50%;
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
	
}



.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #E9B824;
	color: #E9B824;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}

.wave {
	animation-name: wave-animation;  
	animation-duration: 2.5s;       
	animation-iteration-count: infinite; 
	transform-origin: 70% 70%;    
	display: inline-block;
  }
  
  @keyframes wave-animation {
	  0% { transform: rotate( 0.0deg) }
	 10% { transform: rotate(14.0deg) }  
	 20% { transform: rotate(-8.0deg) }
	 30% { transform: rotate(14.0deg) }
	 40% { transform: rotate(-4.0deg) }
	 50% { transform: rotate(10.0deg) }
	 60% { transform: rotate( 0.0deg) }  
	100% { transform: rotate( 0.0deg) }
  }
  
/*****Main BANNER IMAGE*****/
.main-panel img {
	margin-top: 10%;
	width: 90%;
	margin-left: 10%;
}

/*ABOUT US SECTION*/
.main-section {
	width: 100%;
	float: left;
	padding: 110px 0px 110px 0px;
}
.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	color: #ffbf35;
}

th{
	color: #ffbf35 ;
}
.about-img {
	width: 100%;
	padding: 0px 50px;
	margin-top: 80px;
	
}
.about-us {
	width: 100%;
	float: left;
	padding: 20px;
}
.about-us p {
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
}
table {
	width: 100%;
}
table th,
table td {
	font-size: 16px;
	text-align: left;
	padding: 5px 0px;
}

/*****SKILL SECTION*****/
.skill {
	margin-top: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #ffbf35;
	height: 5px;
	float: left;
}

.bg-lightgrey {
	background-color: #04364A;
}



/*****BASCMVG*****/
.BASC {
	width: 32%;
	float: left;
	margin-right: 1%;
	margin-top: 50px;
}

.BASC-content {
	background: #445D48;
	color: #cfcfcf;
	width: 100%;
	float: left;
	padding: 0px 20px 20px 20px;
	font-size: 16px;
	line-height: 28px;
	position: relative;
	text-align: center;
	height: 360px;
}

.BASC i {
	color: #ffbf35;
	font-size: 35px;
	margin-top: 60px;
}

.BASC-img {
	width: 100%;
	float: left;
	text-align: center;
	position: absolute;
	left: 0px;
	top: -35px;
}

.BASC-img img {
	width: 80px;
	height: 80px;
	border: 3px solid white;
	border-radius: 50%;
}

.BASC-name {
	width: 100%;
	float: left;
}

.BASC-name  {
	color: #ffbf35;
	font-size: 20px;
	margin-top: 50px;
}

.BASC-name p {
	font-size: 16px;
	position: relative;
	top: 90px;
}

/***Gallery SECTION***/
.gallery {
	width: 100%;
	float: left;
	margin-top: 30px;
  }
  
  .image-container {
	position: relative;
	overflow: hidden;
  }
  
  .gallery img {
	height: auto;
	width: 95%; 
	margin-bottom: 20px;
	transition: transform 0.3s; 
  }
  
  .image-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 95%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 5px;
	text-align: center;
	opacity: 0; 
	transition: opacity 0.3s;
  }
  
  .image-container:hover .gallery img {
	transform: scale(1.1); 
  }
  
  .image-container:hover .image-text {
	opacity: 1; 
  }
  


/*****FOOTER SECTION*****/
.footer {
	background-color: #202020;
	padding: 30px 0px 40px 0px;
	width: 100%;
	float: left;
}
.footer-sect {
	color: #b3b3b3;
}
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}

